
#home > .container {
	margin-top: 20px;
}

#home > .container > .row > .col > p {
	background: #eeeeee;
	padding: 8px;
}
#My-Gallery > h3 {
	color: #355C7D;  /* fallback for old browsers */
	color: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
	color: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#My-Gallery > .row > {
	margin-top: 8px;
}
hr {
  	position: center;
  	height: 1px;
  	width: 50%;
  	background-color: #614385;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#About-Me > .card{
	width: 25%;
	margin: 0 auto;
}

.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
margin-top: 10px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
